<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>目录</title>
    <!--导入layui css文件-->
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css">
    <!--导入layui js文件-->
    <script type="text/javascript" src="/static/plugins/layui/layui.js"></script>

    <!--导入Jquery-->
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.serializejson.js"></script>
    <script type="text/javascript" src="/static/js/manager/catalog-v1.js"></script>

    <!--引入多选样式文件-->
    <link href="/static/plugins/layui/css/modules/formSelects-v4.css" rel="stylesheet" />
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-sm6">
            <div class="grid-demo grid-demo-bg1">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">输入框</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                            <a class="layui-btn">添加</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="layui-col-sm6">
            <div class="grid-demo" id="catalog-tree"></div>
        </div>
    </div>
</div>
</body>
</html>

