<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.imp4m.common.dao.FilmMapper">
  <resultMap id="BaseResultMap" type="com.ly.imp4m.common.model.Film">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="actor" jdbcType="VARCHAR" property="actor" />
    <result column="cataLogName" jdbcType="VARCHAR" property="catalogname" />
    <result column="cataLog_id" jdbcType="VARCHAR" property="catalogId" />
    <result column="evaluation" jdbcType="DOUBLE" property="evaluation" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="isUse" jdbcType="INTEGER" property="isuse" />
    <result column="locName" jdbcType="VARCHAR" property="locname" />
    <result column="loc_id" jdbcType="VARCHAR" property="locId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="onDecade" jdbcType="VARCHAR" property="ondecade" />
    <result column="resolution" jdbcType="VARCHAR" property="resolution" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="subClassName" jdbcType="VARCHAR" property="subclassname" />
    <result column="subClass_id" jdbcType="VARCHAR" property="subclassId" />
    <result column="typeName" jdbcType="VARCHAR" property="typename" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="updateTime" jdbcType="VARCHAR" property="updatetime" />
    <result column="isVip" jdbcType="INTEGER" property="isvip" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ly.imp4m.common.model.Film">
    <result column="plot" jdbcType="LONGVARCHAR" property="plot" />
  </resultMap>
  <sql id="Base_Column_List">
    id, actor, cataLogName, cataLog_id, evaluation, image, isUse, locName, loc_id, name, 
    onDecade, resolution, status, subClassName, subClass_id, typeName, type_id, updateTime, 
    isVip
  </sql>
  <sql id="Blob_Column_List">
    plot
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_bus_film
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_bus_film
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ly.imp4m.common.model.Film">
    insert into t_bus_film (id, actor, cataLogName, 
      cataLog_id, evaluation, image, 
      isUse, locName, loc_id, 
      name, onDecade, resolution, 
      status, subClassName, subClass_id, 
      typeName, type_id, updateTime, 
      isVip, plot)
    values (#{id,jdbcType=VARCHAR}, #{actor,jdbcType=VARCHAR}, #{catalogname,jdbcType=VARCHAR}, 
      #{catalogId,jdbcType=VARCHAR}, #{evaluation,jdbcType=DOUBLE}, #{image,jdbcType=VARCHAR}, 
      #{isuse,jdbcType=INTEGER}, #{locname,jdbcType=VARCHAR}, #{locId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{ondecade,jdbcType=VARCHAR}, #{resolution,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{subclassname,jdbcType=VARCHAR}, #{subclassId,jdbcType=VARCHAR}, 
      #{typename,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, 
      #{isvip,jdbcType=INTEGER}, #{plot,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ly.imp4m.common.model.Film">
    insert into t_bus_film
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="actor != null">
        actor,
      </if>
      <if test="catalogname != null">
        cataLogName,
      </if>
      <if test="catalogId != null">
        cataLog_id,
      </if>
      <if test="evaluation != null">
        evaluation,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="isuse != null">
        isUse,
      </if>
      <if test="locname != null">
        locName,
      </if>
      <if test="locId != null">
        loc_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="ondecade != null">
        onDecade,
      </if>
      <if test="resolution != null">
        resolution,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="subclassname != null">
        subClassName,
      </if>
      <if test="subclassId != null">
        subClass_id,
      </if>
      <if test="typename != null">
        typeName,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="isvip != null">
        isVip,
      </if>
      <if test="plot != null">
        plot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="actor != null">
        #{actor,jdbcType=VARCHAR},
      </if>
      <if test="catalogname != null">
        #{catalogname,jdbcType=VARCHAR},
      </if>
      <if test="catalogId != null">
        #{catalogId,jdbcType=VARCHAR},
      </if>
      <if test="evaluation != null">
        #{evaluation,jdbcType=DOUBLE},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="isuse != null">
        #{isuse,jdbcType=INTEGER},
      </if>
      <if test="locname != null">
        #{locname,jdbcType=VARCHAR},
      </if>
      <if test="locId != null">
        #{locId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ondecade != null">
        #{ondecade,jdbcType=VARCHAR},
      </if>
      <if test="resolution != null">
        #{resolution,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="subclassname != null">
        #{subclassname,jdbcType=VARCHAR},
      </if>
      <if test="subclassId != null">
        #{subclassId,jdbcType=VARCHAR},
      </if>
      <if test="typename != null">
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="isvip != null">
        #{isvip,jdbcType=INTEGER},
      </if>
      <if test="plot != null">
        #{plot,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ly.imp4m.common.model.Film">
    update t_bus_film
    <set>
      <if test="actor != null">
        actor = #{actor,jdbcType=VARCHAR},
      </if>
      <if test="catalogname != null">
        cataLogName = #{catalogname,jdbcType=VARCHAR},
      </if>
      <if test="catalogId != null">
        cataLog_id = #{catalogId,jdbcType=VARCHAR},
      </if>
      <if test="evaluation != null">
        evaluation = #{evaluation,jdbcType=DOUBLE},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="isuse != null">
        isUse = #{isuse,jdbcType=INTEGER},
      </if>
      <if test="locname != null">
        locName = #{locname,jdbcType=VARCHAR},
      </if>
      <if test="locId != null">
        loc_id = #{locId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ondecade != null">
        onDecade = #{ondecade,jdbcType=VARCHAR},
      </if>
      <if test="resolution != null">
        resolution = #{resolution,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="subclassname != null">
        subClassName = #{subclassname,jdbcType=VARCHAR},
      </if>
      <if test="subclassId != null">
        subClass_id = #{subclassId,jdbcType=VARCHAR},
      </if>
      <if test="typename != null">
        typeName = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="isvip != null">
        isVip = #{isvip,jdbcType=INTEGER},
      </if>
      <if test="plot != null">
        plot = #{plot,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ly.imp4m.common.model.Film">
    update t_bus_film
    set actor = #{actor,jdbcType=VARCHAR},
      cataLogName = #{catalogname,jdbcType=VARCHAR},
      cataLog_id = #{catalogId,jdbcType=VARCHAR},
      evaluation = #{evaluation,jdbcType=DOUBLE},
      image = #{image,jdbcType=VARCHAR},
      isUse = #{isuse,jdbcType=INTEGER},
      locName = #{locname,jdbcType=VARCHAR},
      loc_id = #{locId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      onDecade = #{ondecade,jdbcType=VARCHAR},
      resolution = #{resolution,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      subClassName = #{subclassname,jdbcType=VARCHAR},
      subClass_id = #{subclassId,jdbcType=VARCHAR},
      typeName = #{typename,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=VARCHAR},
      isVip = #{isvip,jdbcType=INTEGER},
      plot = #{plot,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ly.imp4m.common.model.Film">
    update t_bus_film
    set actor = #{actor,jdbcType=VARCHAR},
      cataLogName = #{catalogname,jdbcType=VARCHAR},
      cataLog_id = #{catalogId,jdbcType=VARCHAR},
      evaluation = #{evaluation,jdbcType=DOUBLE},
      image = #{image,jdbcType=VARCHAR},
      isUse = #{isuse,jdbcType=INTEGER},
      locName = #{locname,jdbcType=VARCHAR},
      loc_id = #{locId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      onDecade = #{ondecade,jdbcType=VARCHAR},
      resolution = #{resolution,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      subClassName = #{subclassname,jdbcType=VARCHAR},
      subClass_id = #{subclassId,jdbcType=VARCHAR},
      typeName = #{typename,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=VARCHAR},
      isVip = #{isvip,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>