<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.imp4m.common.dao.RatyMapper">
  <resultMap id="BaseResultMap" type="com.ly.imp4m.common.model.Raty">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="en_time" jdbcType="VARCHAR" property="enTime" />
    <result column="film_id" jdbcType="VARCHAR" property="filmId" />
    <result column="score" jdbcType="VARCHAR" property="score" />
  </resultMap>
  <sql id="Base_Column_List">
    id, en_time, film_id, score
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bus_raty
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_bus_raty
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ly.imp4m.common.model.Raty">
    insert into t_bus_raty (id, en_time, film_id, 
      score)
    values (#{id,jdbcType=VARCHAR}, #{enTime,jdbcType=VARCHAR}, #{filmId,jdbcType=VARCHAR}, 
      #{score,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ly.imp4m.common.model.Raty">
    insert into t_bus_raty
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enTime != null">
        en_time,
      </if>
      <if test="filmId != null">
        film_id,
      </if>
      <if test="score != null">
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="enTime != null">
        #{enTime,jdbcType=VARCHAR},
      </if>
      <if test="filmId != null">
        #{filmId,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ly.imp4m.common.model.Raty">
    update t_bus_raty
    <set>
      <if test="enTime != null">
        en_time = #{enTime,jdbcType=VARCHAR},
      </if>
      <if test="filmId != null">
        film_id = #{filmId,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ly.imp4m.common.model.Raty">
    update t_bus_raty
    set en_time = #{enTime,jdbcType=VARCHAR},
      film_id = #{filmId,jdbcType=VARCHAR},
      score = #{score,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>