<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.imp4m.common.dao.ResMapper">
  <resultMap id="BaseResultMap" type="com.ly.imp4m.common.model.Res">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="episodes" jdbcType="INTEGER" property="episodes" />
    <result column="is_use" jdbcType="INTEGER" property="isUse" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="link_type" jdbcType="VARCHAR" property="linkType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="film_id" jdbcType="VARCHAR" property="filmId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, episodes, is_use, link, link_type, name, update_time, film_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bus_res
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_bus_res
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ly.imp4m.common.model.Res">
    insert into t_bus_res (id, episodes, is_use, 
      link, link_type, name, 
      update_time, film_id)
    values (#{id,jdbcType=VARCHAR}, #{episodes,jdbcType=INTEGER}, #{isUse,jdbcType=INTEGER}, 
      #{link,jdbcType=VARCHAR}, #{linkType,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR}, #{filmId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ly.imp4m.common.model.Res">
    insert into t_bus_res
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="episodes != null">
        episodes,
      </if>
      <if test="isUse != null">
        is_use,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="linkType != null">
        link_type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="filmId != null">
        film_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="episodes != null">
        #{episodes,jdbcType=INTEGER},
      </if>
      <if test="isUse != null">
        #{isUse,jdbcType=INTEGER},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null">
        #{linkType,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="filmId != null">
        #{filmId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ly.imp4m.common.model.Res">
    update t_bus_res
    <set>
      <if test="episodes != null">
        episodes = #{episodes,jdbcType=INTEGER},
      </if>
      <if test="isUse != null">
        is_use = #{isUse,jdbcType=INTEGER},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null">
        link_type = #{linkType,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="filmId != null">
        film_id = #{filmId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ly.imp4m.common.model.Res">
    update t_bus_res
    set episodes = #{episodes,jdbcType=INTEGER},
      is_use = #{isUse,jdbcType=INTEGER},
      link = #{link,jdbcType=VARCHAR},
      link_type = #{linkType,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      film_id = #{filmId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>