<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.imp4m.common.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.ly.imp4m.common.model.User">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="isVip" jdbcType="INTEGER" property="isvip" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="expireTime" jdbcType="TIMESTAMP" property="expiretime" />
    <result column="userEmail" jdbcType="VARCHAR" property="useremail" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userPasswd" jdbcType="VARCHAR" property="userpasswd" />
  </resultMap>
  <insert id="insert" parameterType="com.ly.imp4m.common.model.User">
    insert into t_bus_user (id, isVip, createTime, 
      expireTime, userEmail, userName, 
      userPasswd)
    values (#{id,jdbcType=VARCHAR}, #{isvip,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{expiretime,jdbcType=TIMESTAMP}, #{useremail,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{userpasswd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ly.imp4m.common.model.User">
    insert into t_bus_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isvip != null">
        isVip,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="expiretime != null">
        expireTime,
      </if>
      <if test="useremail != null">
        userEmail,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="userpasswd != null">
        userPasswd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="isvip != null">
        #{isvip,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiretime != null">
        #{expiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="useremail != null">
        #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpasswd != null">
        #{userpasswd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>